@font-face {
  font-family: 'Sukhumvit';
  src: url('./SukhumvitSet-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal; 
}

@font-face {
  font-family: 'Sukhumvit';
  src: url('./SukhumvitSet-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url('./SukhumvitSet-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}