<template lang="pug">
  .container(:style="getStyleContainer")
    .content(:style="getStyleContent")
      Nuxt
</template>

<script>
export default {
  name: "layout",
  data() {
    return {
      sizeScale: 1000000,
      maxWidth: 1920,
      maxHeight: 1080,
      windowX: 0,
      windowY: 0,
      scaleX: null,
      scaleY: null,

      timeResize: 0,
      styleContainer: '',
      styleContent: ''
    }
  },
  computed: {
    getStyleContainer(){
      return this.styleContainer;
    },
    getStyleContent(){
      return this.styleContent;
    }
  },
  mounted() {
    this.handleResize();
    this.scaleX = this.sizeScale / this.maxWidth;
    this.scaleY = this.sizeScale / this.maxHeight;
    window.addEventListener('resize', this.handleResize);
  },
  methods: {
    handleResize() {
      clearTimeout(this.timeResize);
      this.timeResize = setTimeout(() => {
        this.resizePage();
      }, 500);
    },
    resizePage() {
      this.windowX = window.innerWidth;
      this.windowY = window.innerHeight;

      let resultX = 1
      let resultY = 1
      let result = 1
      if(this.windowX < this.maxWidth){
        let b = this.maxWidth - this.windowX
        let c = b * this.scaleX
        resultX = (this.sizeScale - c) / this.sizeScale
      }else if((this.windowX > this.maxWidth)){
        let b =  this.windowX - this.maxWidth
        let c = b * this.scaleX
        resultX = (this.sizeScale + c) / this.sizeScale
      }
      if(this.windowY < this.maxHeight){
        let b = this.maxHeight - this.windowY
        let c = b * this.scaleY
        resultY = (this.sizeScale - c) / this.sizeScale
      }else{
        let b =  this.windowY - this.maxHeight
        let c = b * this.scaleY
        resultY = (this.sizeScale + c) / this.sizeScale
      }
      if(resultX > resultY){
        result = resultY
      }else{
        result = resultX
      }

      this.styleContainer = `overflow: hidden; height: ${this.windowY}px; width: ${this.windowX}px;`;
      this.styleContent = `height: ${this.maxHeight}px; transform: translate(-50%, -50%) scale(${result});`;
    }
  },


}
</script>

<style lang="scss" scoped>
$maxWidth: 1920px;
$maxHeight: 1080px;

.container {
  @apply relative h-full;
  .content {
    @apply absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    overflow: hidden;
    min-width: $maxWidth;
    max-width: $maxWidth;
    max-height: $maxHeight;
    min-height: $maxHeight;
  }
}
</style>
