<template lang="pug">
  transition(name="modal" v-if="view")
    .modal-mask
      .modal-wrapper
        .modal-container(:class="{ 'fit': container === 'fit' }")
          .modal-close.cursor-pointer(@click="hide")
            .text-white(name="close") X
          .modal-body
            slot
</template>

<script>
export default {
  props: {
    container: ''
  },
  data() {
    return {
      view: false,
    }
  },
  methods: {
    show() {
      this.view = true
    },
    hide() {
      this.$emit("hide")
      this.view = false
    },
  },
}
</script>
<style lang="scss" scoped>

.modal-mask {
  @apply fixed top-0 left-0 w-full h-full table;
  z-index: 9900;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s ease;
  .modal-wrapper {
    @apply table-cell align-middle;
    z-index: 999;
    .modal-container {
      @apply relative w-full h-full mx-auto rounded-lg;
      max-width: 46rem;
      @screen sm {
        @apply max-w-xs;
      }
      overflow: unset;
      height: fit-content;
      transition: all 0.3s ease;
      &.fit {
        width: fit-content;
      }
      .modal-close {
        @apply absolute text-20 w-8 h-8 rounded-full bg-red-600 shadow flex items-center justify-center;
        z-index: 1;
        top: -16px;
        right: -16px;
        div {
          @apply cursor-pointer;
        }
      }
      .modal-header {
        @apply px-6 py-3 bg-green text-white;
      }
      .modal-body {
        // @apply p-6;
        .modal-management {
          overflow: auto;
          max-height: 80vh;
        }
      }
    }
  }
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
