<template lang="pug">
  .mach-selector-page(v-show="isShow")
    .mach-selector
      .mach-card(v-for="machine in machines" @click="setMachine(machine)")
        .mach-image
          img
        .mach-footer
          .mach-name MACHINE {{machine.short_id}}
          .mach-location {{machine.latitude}}, {{machine.longitude}}
        .mach-confirm เลือก

</template>
<script>
import CustomerApi from '~/apis/CustomerApi'

export default {
  data() {
    return {
      isShow: false,
      machines: [],
      promise: {
        resolve: () => {},
        reject: () => {},
      },
    }
  },
  methods: {
    show() {
      CustomerApi.getMachines().then(res => {
        this.machines = res.message.data.machines
        this.machines = [...this.machines, ...this.machines, ...this.machines, ...this.machines]
        this.machines = [...this.machines, ...this.machines, ...this.machines]
      })
      this.isShow = true
      return new Promise((resolve, reject) => {
        this.promise = { resolve, reject }
      })
    },
    setMachine(machine) {
      this.promise.resolve(machine)
      this.isShow = false
    }
  },
}
</script>
<style lang="scss" scoped>
.mach-selector-page {
  @apply fixed w-full h-full z-10 flex items-center overflow-y-auto;
  background-color: #20232D;
}
.mach-selector {
  @apply flex flex-wrap justify-center items-center w-4/6 m-auto;
  .mach-card {
    @apply bg-white flex justify-between flex-col rounded-lg px-5 py-4 relative m-2;
    * {
      @apply cursor-pointer;
    }
    max-height: 330px;
    .mach-image {
      @apply flex justify-center relative;
      height: 234px;
      img {
        @apply h-full;
      }
    }
    .mach-footer {
      .mach-des {
        @apply text-left;
        .mach-location {
          @apply text-14;
        }
      }
    }
    .mach-confirm {
      @apply absolute w-full h-full opacity-0 left-0 top-0 flex justify-center items-center text-4xl;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 1;
        background-color: #20232d4d;
      }
    }
  }
}
</style>
