<template lang="pug">
  .page
    MachineSelector(ref="machineSelector")
    ion-icon.setting.hover(name="settings-sharp" @click="selectMachine()")
    .products
      .product-card(v-for="num in 18" v-if="products.length === 0")
        .p-image.animate-pulse
          .bg-gray-500.rounded.h-full.w-full
        .p-footer.pt-2.animate-pulse
          .h-5.bg-gray-500.rounded-lg.mb-2(class="w-4/5")
          .h-4.bg-gray-500.rounded-lg(class="w-2/5")
      .product-card(v-for="product in products" v-if="products.length")
        .card-qty(v-if="product.amount") {{product.amount}}
        .p-image
          img(:src="product.product.product_image_url")
        .p-footer
          .flex.justify-between.items-center
            .block
              p.font-bold.text-lg {{product.product.product_price}}฿ {{product.product.product_name}}
              p.text-md.leading-5 คงเหลือ {{product.quantity}} ชิ้น
            .p-button
              button.text-28.w-10.h-10.text-white.bg-red-700.mr-1(@click="updateAmount(product, 'DELETE')") -
              button.text-28.w-10.h-10.text-white.bg-green(@click="updateAmount(product, 'ADD')")
                ion-icon(name="add") 
            
    .panel
      .logo.h-40.my-4
        .text-white.italic.text-.text-6xl.font-bold Vending
        .text-white.italic.text-.text-6xl.font-bold.leading-5.font-bold Machine
      
      .block(id="manage-order" v-if="selectedMachine")
        template(v-if="step === 1")
          .sum-card.bg-indigo-600.justify-between.items-center.mb-6
            p ยอดชำระ
            p.text-28 {{isNumber(getTotalPayment)}}฿

          .sum-card.hover-card.justify-center.bg-green(@click="nextStep(2)")
            p ชำระเงิน

        template(v-if="step === 2")
          .sum-card.bg-indigo-600.justify-between.items-center.mb-6
            p ยอดชำระ
            p.text-28 {{isNumber(getTotalPayment)}}฿

          .sum-card.bg-orange-500.justify-between.items-center.mb-4
            p เงินทอน
            p.text-28 {{ amountDeposit > getTotalPayment ? isNumber(amountDeposit - getTotalPayment) : 0 }}฿

          .text-2xl.text-white.text-left.mb-2 ระบุยอดเติมเงิน
          .input-amount-deposit.mb-8
            Cleave.input(id="input-amount-deposit" v-model="amountDeposit" :options="{ numeral: true, numeralThousandsGroupStyle: 'thousand' }")
            p ฿

          .sum-card.hover-card.justify-center.bg-green(@click="createOrder()")
            p ยืนยัน

      
</template>

<script>
import Vue from "vue"
import Cleave from "vue-cleave-component"

import CustomerApi from '~/apis/CustomerApi'

import MachineSelector from '~/components/Modal/MachineSelector'

Vue.use(Cleave)

export default {
  components: {
    MachineSelector,
    Cleave
  },
  data() {
    return {
      products: [],
      step: 1,
      amountDeposit: '',
      selectedMachine: null,
      loading: false
    }
  },
  computed: {
    getTotalPayment() {
      return this.products.reduce((sum, each) => {
        return sum += (each.amount * each.product.product_price)
      }, 0)
    }
  },
  mounted() {
    this.selectMachine()
  },
  methods: {
    nextStep(num) {
      this.step = num
      if (num === 2) {
        this.$nextTick(() => {
          if (document.getElementById('input-amount-deposit')) document.getElementById('input-amount-deposit').focus()
        })
      }
    },
    selectMachine() {
      this.$refs.machineSelector.show().then(matchine => {
        this.selectedMachine = matchine
        this.products = []
        this.getProductsByMachine()
      })
    },
    updateAmount(product, type) {
      if (type === 'ADD') {
        if (product.amount < product.quantity ) product.amount += 1
      } else if (type === 'DELETE') {
        if (product.amount !== 0) product.amount -= 1
      }
    },
    getProductsByMachine() {
      CustomerApi.getProductsByMachine(this.selectedMachine.short_id).then(res => {
        this.products = res.message.data.products
        this.products = [...this.products, ...this.products, ...this.products, ...this.products, ...this.products]
        this.products = this.products.map(each => {
          return {
            ...each,
            amount: 0
          }
        })
      })
    },
    createOrder() {
      if (this.loading) return
      this.loading = true
      const data = {
        machine_short_id: this.selectedMachine.short_id,
        orders: this.products.map(each => {
          return {
            product_short_id: each.product.short_id,
            price: each.product.product_price,
            quantity: each.amount
          }
        }).filter(each => each.quantity),
        total_price: this.getTotalPayment,
        paid: this.amountDeposit,
        change: this.amountDeposit > this.getTotalPayment ? this.amountDeposit - this.getTotalPayment : 0
      }
      CustomerApi.createOrder(data).then(res => {
        this.getProductsByMachine()
        this.amountDeposit = ''
        alert('ทำรายการสำเร็จ')
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  @apply flex h-full;

  .products {
    @apply w-full grid grid-cols-6 gap-3 py-6 pl-5;
    .product-card {
      @apply bg-white flex justify-between flex-col rounded-lg px-5 py-4 relative;
      max-height: 330px;
      .card-qty {
        @apply bg-green text-white absolute w-12 h-12 rounded-full flex justify-center items-center text-28;
        z-index: 1;
        right: 12px;
        top: 12px;
      }
      .p-image {
        @apply flex justify-center;
        height: 234px;
        img {
          @apply h-full;
          object-fit: contain;
        }
      }
      .p-footer {
        @apply w-full;
        .p-button {
          @apply flex items-center;
        }
      }
    }
  }
  
  .panel {
    @apply text-center px-5;
    min-width: 334px;
    max-width: 334px;
    .sum-card {
      @apply w-full text-white flex px-6 py-4 rounded-lg text-24;
    }
    .hover-card {
      @apply cursor-pointer;
      &:hover {
        p {
          transform: scale(1.17);
        }
      }
    }
    .input-amount-deposit {
      @apply flex items-center h-16 w-full text-3xl bg-white rounded-lg;
      p {
        @apply w-16 bg-green h-full rounded-r-lg flex items-center justify-center text-white;
      }
      .input {
        @apply px-2 w-full h-full rounded-l-lg;
      }
    }
  }

  .setting {
    @apply cursor-pointer text-5xl text-white absolute;
    right: 18px;
    bottom: 50px;
  }

}
</style>