body,
html,
#__nuxt,
#__layout {
  font-family: 'Sukhumvit';
  font-weight: 400;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #20232D;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

div {
  cursor: context-menu;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

input,
select {
  &[disabled="disabled"] {
    pointer-events: none;
    opacity: 0.5;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  @apply flex items-center justify-center rounded;
  &:hover {
    transform: scale(1.17);
  }
  &:focus {
    @apply outline-none;
  }
}

.hover {
  &:hover {
    transform: scale(1.17);
  }
}